* {
    font-family: "Noto Sans Regular", sans-serif;
    font-size: 11pt;
    min-height: 1px;
    border: none;
}

.background {
    background-color: @nord0;
    color: @nord6;
    opacity: 0.9;
    border-radius: 4px;
}

.search {
    border-radius: 3px;
    background-color: @nord4;
    color: @nord2;
    min-height: 20px;
    padding: 5px 10px;
    margin: 0px 0px 5px 0px;
}

.entry {
    padding: 2px 5px;
}

.entry :hover {
    background-color: @nord4;
}

#img {
    margin: 0px 4px 0 0;
    -gtk-icon-transform: scale(0.6);
}
#scroll {}
#inner-box {}
#outer-box {}

#selected {
   background-color: @nord2;
   border-color: @nord2;
   border-radius: 3px;
   padding: 3px 6px;
}

#unselected { }
